mat-grid-tile {
    background: snow;
  }

mat-grid-list {
    flex: 1;
    min-width: 300px;    
    max-width: 66vh;
    padding-bottom: 0 !important;
 }
.black {
    background-color: black;
}

button {
    background-color: red;
    height: 100%;
    width: 100%;
}

:host{
    display: flex;
    flex-direction: row;
    justify-content: center;
}